@font-face {
  font-family: 'gothampro';
  font-weight: 400;
  src: url(/fonts/gothampro.woff) format('woff'),
       url(/fonts/gothampro.woff2) format('woff2');
}

@font-face {
  font-family: 'gothampro';
  font-weight: 700;
  src: url(/fonts/gothampro_medium.woff) format('woff2'),
       url(/fonts/gothampro_medium.woff2) format('woff');
}

@font-face {
  font-family: 'gothampro';
  font-weight: 900;
  src: url(/fonts/gothampro_bold.woff) format('woff2'),
       url(/fonts/gothampro_bold.woff2) format('woff');
}
